/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #e5e5e5;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 216px;
  background-color: #ffffff;
}

.loading-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33333333;
  color: #151b26;
  animation-name: flicker;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  border-radius: 100px;
  background-color: #e5eaef;
  overflow: hidden;
  /* gauge가 progress-bar보다 넘치지 않도록 overflow 속성을 hidden으로 줘야한다. */
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 12px;
  border-radius: 100px;
  background-color: #13ce66;
  animation-name: loading-bar;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  90% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
