* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

ul,
ol,
li,
dl,
dt,
dd {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

input,
button,
textarea,
select {
  font-family: 'Inter', sans-serif;
}

input {
  border: none;
}

button:focus,
button:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product-image-viewer {
  width: 540px;
}

.product-image-viewer .main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  margin-bottom: 16px;
}

.product-image-viewer .main-image img {
  display: block;
  width: 100%;
  height: auto;
}

.product-image-viewer .view-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-image-viewer .view-item {
  margin: 0 4px;
}

.product-image-viewer .view-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  transition: opacity 250ms ease-out;
}

.product-image-viewer .view-item button:hover {
  opacity: 0.5;
}

.product-image-viewer .view-item.selected button {
  border: 1px solid #e4e4e4;
}

.product-image-viewer .view-item.selected img {
  display: block;
  width: 100%;
  height: auto;
}

.product-content {
  width: 500px;
  padding-top: 40px;
}

.product-title {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33333333;
  letter-spacing: -0.03em;
  color: #1c1c1c;
}

.product-misc {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14285714;
  letter-spacing: -0.02em;
}

.icon-cart,
.icon-star-active,
.icon-star-inactive {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
}

.icon-star-active {
  background-image: url('./assets/icon-star-active.svg');
}

.icon-star-inactive {
  background-image: url('./assets/icon-star-muted.svg');
}

.rate,
.orders {
  display: flex;
  align-items: center;
}

.product-misc .rate dt {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.rate dd {
  margin-right: 19px;
  color: #969696;
}

.icon-cart {
  margin-right: 4px;
  background-image: url('./assets/icon-cart.svg');
}

.product-misc .orders dd {
  color: #00b517;
}

.product-price {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33333333;
  letter-spacing: -0.03em;
  color: #1c1c1c;
}

.product-desc {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.46666667;
  letter-spacing: -0.015em;
  color: #545454;
}

.product-detail {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.46666667;
  letter-spacing: -0.02em;
  overflow: hidden;
}

.product-detail div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 14px;
}

.product-detail div:nth-child(2n-1) {
  background-color: #f7f7f7;
}

.product-detail dt {
  width: 86px;
  color: #545454;
}

.product-detail dd {
  font-weight: 600;
  color: #1c1c1c;
}

.form-quantity label {
  display: inline-block;
  margin-bottom: 8px;
}

.form-size {
  height: 100%;
}

.form-size label {
  display: block;
}

.form-size label:first-child {
  margin-bottom: 16px;
}

.form-options {
  height: 68px;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 1.46666667;
  letter-spacing: -0.02em;
  color: #545454;
}

.form-options,
.radio-buttons {
  display: flex;
  align-items: center;
}

.form-quantity {
  margin-right: 32px;
}

.combo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.combo-box button,
.combo-box input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  text-align: center;
}

.combo-box button {
  border: 1px solid #e4e4e4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
  background-color: #ffffff;
}

.combo-box button:hover {
  background-color: #f8f8f8;
}

#minus-button {
  border-radius: 6px 0 0 6px;
  background-image: url('./assets/icon-minus.svg');
}

#plus-button {
  border-radius: 0 6px 6px 0;
  background-image: url('./assets/icon-plus.svg');
}

.combo-box input[type='number'] {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  font-size: 15px;
  line-height: 1.46666667;
  letter-spacing: -0.02em;
  color: #545454;
  text-align: center;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #545454;
}

.radio-button input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
}

.radio-button input[type='radio']::before {
  cursor: pointer;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
}

.radio-button input[type='radio']:checked::before {
  width: 8px;
  height: 8px;
  border: 7px solid #007bff;
}

.radio-button label {
  position: relative;
  top: -1%;
}

.form-submit {
  cursor: pointer;
  width: 100%;
  height: 64px;
  background-color: #1c1c1c;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
  color: #ffffff;
  transition: opacity 250ms ease-in;
}

.form-submit:hover {
  opacity: 0.75;
}
