* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #e5e5e5;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* .tab-menu {
  overflow: hidden;
} */

.tab-menu {
  /* max-width: 540px; */
  border-bottom: 1px solid #e5eaef;
  background-color: #fff;
}

.tab-menu::after {
  display: block;
  content: "";
  clear: left; /* clear는 float의 영향을 받지 않음 */
}

.tab-menu-item {
  float: left;
  margin-right: 16px;
}

.tab-menu-item a {
  display: inline-block;
  /* 또는 display: block; */
  padding: 16px 20px;
}

.tab-menu-item.selected {
  border-bottom: 2px solid #2860e1;
}

.tab-menu-item.selected a {
  font-weight: 500;
  color: #2860e1;
}
